rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'userex157@gmail.com';
    }

    match /vaults/{vaultId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /media/{mediaId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}
